.btns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.bt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 5px 0px;
  width: 100%;
}

.bt .txt {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.bt .txt p {
  font-weight: 700;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 0.93rem;
}

.bt .txt1 .score-txt {
  color: hsl(235, 27%, 37%);
  font-weight: 700;
}
